.shadow-menu {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: open 0.3s;
  transform-origin: top left;
}
.shadow-submenu {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@keyframes open {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
